.btn-inscribete{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.btn-buscar-viaje{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}